
.container{
  width: 85%;
  margin: auto;
}
.ddiv{
  margin-top: 25px;
}
table{
  width: 100%;
}
tr{
  border: 1px solid black; 
}
td{
  border: 1px solid black;
  font-size: 21px;
  padding-top: 18px;

}

a{
  padding: 20px;
}
